{% include header.html %}

<!--<img class="img-responsive center-block" src="/static/img/Zunder Lab Header Image.png" alt="Zunder Lab CyTOF Snapshot">-->

<!-- width=100% style="padding:40px" -->

<h1><center>Welcome to Mike Roberts lab!</center></h1>
<div class="row-fluid">
    <div class="col-sm-3">
    	<br>
    	<img class="img-responsive-rounded center-block" src="/static/img/masterSubset.jpg" alt="MasterList">
    	<br>
    </div>
    <div class="col-sm-6">
    	<div class="jumbotron">
        	{{ content }}
        </div>
    </div>
    <div class="col-sm-3">
    	<br>
    	<img class="img-responsive-rounded center-block" src="/static/img/robertsIndex.png" alt="Mike Roberts">
    	<br>
        {% include sidebar.html %}
    </div>
</div>

{% include footer.html %}
